@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 0%;
        --foreground: 180 100% 50%;
        /* Neon Cyan base */

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-gray-800;
    }

    body {
        @apply bg-black text-white;
    }
}

/* Custom Scrollbar for Robotic feel */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #00f3ff;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bc13fe;
}